.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 24px;
}
